/* ::::::::::::::::::::::::::: Regras, Importações e Variáveis ::::::::::::::::::::::::::: */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --cor-letra: #e1e2e4;
  --cor-letra-hover: #b30000;
  --sombra-texto: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* ::::::::::::::::::::::::::: Seletores Gerais ::::::::::::::::::::::::::: */

body {
  background: url(imagens/restaurante.jpg) no-repeat;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
  backdrop-filter: blur(5px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #94715c; /* Cor de fundo da trilha da barra de rolagem */
  border-radius: 8px;
}

/* Personalize a aparência do polegar (a parte arrastável da barra de rolagem) */
::-webkit-scrollbar-thumb {
  background: #6d4c2d;
  border-radius: 8px;
}

/* Personalize o canto da barra de rolagem */
::-webkit-scrollbar-corner {
  border-radius: 20%;
  background: #94715c;
}

/* ::::::::::::::::::::::::::: Header ::::::::::::::::::::::::::: */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

#main-nav-menu {
  flex-grow: 1;
  text-align: center;
  color: var(--cor-letra);
  text-shadow: var(--sombra-texto);
  font-size: 38px;
  text-decoration: none;
  transition: 0.5s ease;
  letter-spacing: 3px;
}

#main-nav-menu:hover {
  color: var(--cor-letra-hover);
  scale: 1.2;
  transition: 0.5s ease;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.507);
  letter-spacing: 3.5px;
}

#secundary-nav-menu {
  display: flex;
  align-items: center;
  text-align: center;
}

#secundary-nav-menu a {
  text-decoration: none;
  margin-left: 3rem;
  color: var(--cor-letra);
  text-shadow: var(--sombra-texto);
  font-size: 14px;
  transition: 0.5s ease;
}

#secundary-nav-menu a:hover {
  color: var(--cor-letra-hover);
  scale: 1.2;
  transition: 0.5s ease;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.507);
  letter-spacing: 0.5px;
}

a#login {
  margin-left: 0rem;
}

.text-title {
  font-size: 24px;
}

#cart {
  margin-top: -10px;
  margin-bottom: -12px;
  display: inline;
  width: 60px;
  height: 52px;
}

#nav-logo {
  width: 90px;
  height: 75px;
  border-radius: 50%;
}
/* ::::::::::::::::::::::::::: Body ::::::::::::::::::::::::::: */

table,th {
  border-radius: 20px;
  text-align: center;

  padding: 75px;
}

th {
  color: var(--cor-letra);
  box-shadow: 4px 2px;
  font-size: 50px;
}

table {
  width: 100%;
}

td {
  vertical-align: bottom;
}

img {
  width: 100px;
  border-radius: 20px;
  transition: 0.5s;
}

img:hover {
  width: 350px;
  transition: 0.5s;
}

ol li {
  font-size: 17px;
}

.tabela {
  color: #fff;
}
