@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* ::::::::::::::::::::::::::: Regras Gerais ::::::::::::::::::::::::::: */
:root {
  --cor-letra: #e1e2e4;
  --cor-letra-hover: #b30000;
  --sombra-texto: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* ::::::::::::::::::::::::::: Header ::::::::::::::::::::::::::: */


/* Podemos fazer uma navbar presa no topo do site, que continuar치 l치 mesmo se o usu치rio scrollar pra baixo, mas pra ficar visualmente agrad치vel precisamos de uma background image

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-image: url('imagens/imagem-de-fundo-para-nav-bar.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
} 

*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  
}

#nav-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#main-nav-menu {
  flex-grow: 1;
  text-align: center;
  color: var(--cor-letra);
  text-shadow: var(--sombra-texto);
  font-size: 38px;
  text-decoration: none;
  transition: 0.5s ease;
  letter-spacing: 3px;
}

#main-nav-menu:hover {
  color: var(--cor-letra-hover);
  scale: 1.2;
  transition: 0.5s ease;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.507);
  letter-spacing: 3.5px;
}

#secundary-nav-menu {
  display: flex;
  align-items: center;
  text-align: center;
}

#secundary-nav-menu a {
  text-decoration: none;
  margin-left: 3rem;
  color: var(--cor-letra);
  text-shadow: var(--sombra-texto);
  font-size: 14px;
  transition: 0.5s ease;
}

#secundary-nav-menu a:hover {
  color: var(--cor-letra-hover);
  scale: 1.2;
  transition: 0.5s ease;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.507);
  letter-spacing: 0.5px;
}

a#login {
  margin-left: 0rem;
}

.text-title {
  font-size: 24px;
}

#cart {
  margin-top: -10px;
  margin-bottom: -12px;
  display: inline;
  width: 60px;
  height: 52px;
}

/* ::::::::::::::::::::::::::: Body ::::::::::::::::::::::::::: */

body {
  background: url(imagens/restaurante.jpg) no-repeat;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
  backdrop-filter: blur(5px);
}

.tabela {
  color: #fff;
}

table,
th {
  border-radius: 20px;
  text-align: center;

  padding: 75px;
}

th {
  color: var(--cor-letra);
  box-shadow: 4px 2px;
  font-size: 50px;
}

table {
  width: 100%;
}

td {
  vertical-align: bottom;
}

img {
  width: 100px;
  border-radius: 20px;
  transition: 0.5s;
}

img:hover {
  width: 350px;
  transition: 0.5s;
}

ol li {
  font-size: 17px;
}
