/* ::::::::::::::::::::::::::: Regras, Importações e Variáveis ::::::::::::::::::::::::::: */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --cor-letra: #e1e2e4;
  --cor-letra-hover: #0de42aa1;
  --sombra-texto: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* ::::::::::::::::::::::::::: Seletores Gerais ::::::::::::::::::::::::::: */

body {
  background: url(./../image/restaurante.jpg) no-repeat;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
  backdrop-filter: blur(5px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #94715c; /* Cor de fundo da trilha da barra de rolagem */
  border-radius: 8px;
}

/* Personalize a aparência do polegar (a parte arrastável da barra de rolagem) */
::-webkit-scrollbar-thumb {
  background: #6d4c2d;
  border-radius: 8px;
}

/* Personalize o canto da barra de rolagem */
::-webkit-scrollbar-corner {
  border-radius: 20%;
  background: #94715c;
}

/* ::::::::::::::::::::::::::: Header ::::::::::::::::::::::::::: */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

#main-nav-menu {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  color: var(--cor-letra);
  text-shadow: var(--sombra-texto);
  font-size: 38px;
  text-decoration: none;
  transition: 1s ease;
  letter-spacing: 3px;
  margin: 0 7rem;
}

#main-nav-menu:hover {
  color: var(--cor-letra-hover);
  scale: 1.1;
  transition: 1s ease;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.507);
  letter-spacing: 3.3px;
}

#secundary-nav-menu {
  display: flex;
  align-items: center;
  text-align: center;
}

#secundary-nav-menu a {
  text-decoration: none;
  margin-left: 5rem;
  color: var(--cor-letra);
  text-shadow: var(--sombra-texto);
  font-size: 14px;
  transition: 1s ease;
}

#secundary-nav-menu a:hover {
  color: var(--cor-letra-hover);
  scale: 1.1;
  transition: 1s ease;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.507);
  letter-spacing: 0.3px;
}

a#login {
  margin-left: 0rem;
}

.text-title {
  font-size: 24px;
}

#cart {
  margin-top: -10px;
  margin-bottom: -12px;
  display: inline;
  width: 60px;
  height: 52px;
}

#nav-logo {
  width: 90px;
  height: 75px;
  border-radius: 50%;
}
/* ::::::::::::::::::::::::::: Body ::::::::::::::::::::::::::: */

table,
th {
  border-radius: 20px;
  text-align: center;

  padding: 75px;
}

th {
  color: var(--cor-letra);
  box-shadow: 4px 2px;
  font-size: 50px;
}

table {
  width: 100%;
}

td {
  vertical-align: bottom;
}

img {
  width: 300px;
  border-radius: 20px;
  transition: 1s ease;
  margin-left: 3px;
}

img:hover {
  scale: 1.2;
  transition: 1s ease;
}

ol li {
  font-size: 17px;
}

.tabela {
  color: #fff;
}

/* ::::::::::::::::::::::::::: Media Query para Dispositivos Móveis ::::::::::::::::::::::::::: */
@media only screen and (max-width: 480px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
    background: url(./../image/restaurante.jpg) no-repeat;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;
    backdrop-filter: blur(5px);
    margin: 0;
  }

  nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
  }

  #main-nav-menu {
    font-size: 28px;
    margin: 0 1rem;
  }

  #secundary-nav-menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0.5rem;
  }

  #secundary-nav-menu a {
    margin: 0.5rem 0.5rem;
    font-size: 12px;
  }

  a#login {
    margin-left: 0rem;
  }

  .text-title {
    font-size: 18px;
  }

  #cart {
    width: 40px;
    height: 36px;
    margin-right: 0px;
  }

  #nav-logo {
    width: 60px;
    height: 50px;
  }

  table {
    border-spacing: 0 30px;
  }

  table,
  th {
    padding: 1px;
  }

  th {
    font-size: 30px;
  }

  img {
    margin: 5px 5px;
    width: 90px;
    height: 70px;
  }

  ol li {
    font-size: 14px;
  }

  ol,
  ul {
    padding: 15px;
  }

  .tabela {
    font-size: 14px;
    width: 100%;
  }

  td {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
  }

  td > img {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}
